<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/" style="padding: 0 2rem; margin: 0"><img class="logo" src="/images/BYUI-logo.png" alt="BYU Idaho logo"></a></li>
      <li class="<%= path === '/' ? 'active' : ''%>">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Team Activities <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="<%= path === '/team/01' ? 'active' : ''%>"><a href="/team/01">Team Activity 01</a></li>
            <li class="<%= path === '/team/02' ? 'active' : ''%>"><a href="/team/02">Team Activity 02</a></li>
            <li class="<%= path === '/team/03' ? 'active' : ''%>"><a href="/team/03">Team Activity 03</a></li>
            <li class="<%= path === '/team/04' ? 'active' : ''%>"><a href="/team/04">Team Activity 04</a></li>
            <li class="<%= path === '/team/05' ? 'active' : ''%>"><a href="/team/05">Team Activity 05</a></li>
          </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Ponder and Prove <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="<%= path === '/prove/01' ? 'active' : ''%>"><a href="/prove/01">Prove 01</a></li>
            <li class="<%= path === '/prove/02' ? 'active' : ''%>"><a href="/prove/02">Prove 02</a></li>
            <li class="<%= path === '/prove/08' ? 'active' : ''%>"><a href="/prove/08">Prove 08</a></li>
            <li class="<%= path === '/prove/09' ? 'active' : ''%>"><a href="/prove/09">Prove 09</a></li>
            <li class="<%= path === '/prove/10' ? 'active' : ''%>"><a href="/prove/10">Prove 10</a></li>
          </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Projects <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="<%= path === '/project/01' ? 'active' : ''%>"><a href="/project/01">Project 01</a></li>
          </ul>
      </li>
    </ul>
  </div>
</nav>
