<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

    <div class="container">
      <h2 class="orange-text">
        <%= title %>
      </h2>
      <div class="divider"></div>

      <div class="section">
        <div class="row">
          <form class="col s12"
            action="/project/01/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <% if (editing) { %>
              <input class="form-control" type="hidden" value="<%= product.id %>" name="productId">
              <% } %>

                <div class="row">
                  <div class="input-field col s12 m6">
                    <input id="title" type="text" name="title" value="<% if (editing) { %><%= product.title %><% } %>">
                    <label for="title">Title</label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12 m6">
                    <input id="imageUrl" type="text" name="imageUrl"
                      value="<% if (editing) { %><%= product.imageUrl %><% } %>">
                    <label for="imageUrl">imageUrl</label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12 m6">
                    <input id="price" type="number" step="0.01" min="0.00" name="price"
                      value="<% if (editing) { %><%= product.price %><% } %>">
                    <label for="imageUrl">price</label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12 m6">
                    <textarea id="description" name="description"
                      class="materialize-textarea"><% if (editing) { %><%= product.description %><% } %></textarea>
                    <label for="description">Description</label>
                  </div>
                </div>

                <button class="btn waves-effect waves-light cyan" type="submit" name="action">
                  <i class="material-icons left">
                    <% if (editing) { %>save<% } else { %>add<% } %>
                  </i>
                  <% if (editing) { %>Update Product<% } else { %>Add Product<% } %>
                </button>
          </form>

          <div class="row">
            <div class="input-field col s12">

              <% if (editing) { %>
                <button href="#del-modal" class="waves-effect waves-light btn red lighten-1 modal-trigger">
                  <i class="material-icons left">delete</i>Delete Product
                </button>
                <% } %>
                  <p>
                    <a href="/project/01/admin" class="waves-effect waves-light btn-flat orange-text">Cancel</a>
                  </p>
            </div>
          </div>

          <!-- Modal Structure -->
          <% if (editing) { %>
            <div id="del-modal" class="modal">
              <div class="modal-content">
                <h4>Confirm Delete</h4>
                <p>Are you sure you want to delete <b>
                    <%= product.title %>
                  </b> ?</p>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-cyan btn-flat">Cancel</a>

                <form action="/project/01/admin/delete-product/<%= product.id %>" method="POST"
                  style="display: inline-block;">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button class="btn red lighten-1" type="submit">Delete</button>
                </form>
              </div>
            </div>
            <% } %>


        </div>
      </div>
    </div>

    </div>

    <% include ../partials/footer.ejs %>
      <script>
      </script>
</body>

</html>