<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>

        <div class="container">
            <h2 class="orange-text">
                <%= title %>
            </h2>
            <div class="divider"></div>

            <div class="row">
                <a type="button" class="btn btn-primary btn-lg" href="/project/01/admin/add-product">Add Product</a>
            </div>
            <hr>

            <ul class="list-group">
                <% products.forEach(product=> { %>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <a href="/project/01/admin/edit-product/<%= product.id %>">
                                    <img width="64" src="<%= product.imageUrl %>" alt="<%= product.title %>"
                                        title="<%= product.title %>">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <%= product.title %>
                                </h4>
                                <%= product.description %>
                            </div>

                            <div class="media-right">
                                <a type="button" class="btn btn-primary btn-md"
                                    href="/project/01/admin/edit-product/<%= product.id %>">Edit</a>
                            </div>
                        </div>
                    </li>

                    <% }); %>
            </ul>

        </div>

        <% include ../partials/footer.ejs %>
            <script>
            </script>
</body>

</html>