<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
</head>

<body>
    <% include ../../partials/nav.ejs %>
        <div class="jumbotron text-center">
            <div class="container">
                <h1>
                    <%= title %>
                        <p style="margin: 0 auto">Server Side Rendered</p>
                </h1>
            </div>
        </div>
        <div class="container">
            <h1>Pokemon</h1>

            <ul class="list-group">
                <% pokemon.forEach(item=> { %>
                    <li class="list-group-item" style="text-transform: capitalize;">
                        <%= item.name %>
                    </li>
                    <% }); %>
            </ul>

            <nav>
                <ul class="pager">
                    <li class="previous">
                        <a href="?page=1" class="btn" <% if(!prevPage) { %> disabled="disabled" <% }; %>
                                >First</a>
                    </li>

                    <li>
                        <a href="?page=<%= prevPage %>" class="btn" <% if(!prevPage) { %> disabled="disabled" <% }; %>
                                >Previous</a>
                    </li>

                    <li> Page <%= page %> of <%= pageCount %>
                    </li>

                    <li>
                        <a href="?page=<%= nextPage %>" class="btn" <% if(!nextPage) { %> disabled="disabled" <% }; %>
                                >Next</a>
                    </li>

                    <li class="next">
                        <a href="?page=<%= pageCount %>" class="btn" <% if(!nextPage) { %>
                            disabled="disabled" <% }; %>
                                >Last</a>
                    </li>
                </ul>
            </nav>
        </div>
</body>

</html>