<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
    <style>
      .error-message {
        margin-bottom: 3rem;
        padding: 1rem;
        background-color: #ff4b4b;
        color: rgb(105, 0, 0);
        border-radius: 5px;
      }
    </style>
</head>

<body>
  <% include ../partials/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
      </div>
    </div>

    <div class="container">

      <% if(error) { %>
        <div class="error-message">
          <%= error %>
        </div>
        <hr>
        <% } %>

          <!-- Add User Form -->
          <form action="/team/02/addUser" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <labe for="username">Add User</label>
              <input type="text" name="username" id="username" placeholder="Username" />
              <button type="submit">Save</button>
          </form>

          <hr />

          <!-- Remove User Form -->
          <form action="/team/02/removeUser" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <labe for="username-remove">Remove User</label>
              <input type="text" name="username" id="username-remove" placeholder="Username" />
              <button type="submit">Delete</button>
          </form>
          <hr>

          <!-- List of Users -->
          <h2>Users</h2>
          <% if (users.length> 0) { %>
            <ul>
              <% users.forEach((user)=> { %>
                <li>
                  <%= user %>
                </li>
                <% }) %>
            </ul>

            <% } else { %>
              <i>No Users Found</i>
              <% } %>

    </div>


</body>

</html>