<!DOCTYPE html>
<html>

<head>
    <% include ../../../partials/header.ejs %>
</head>

<body>
    <% include ../../../partials/nav.ejs %>
    <% include ../partials/project01nav.ejs %>

    <div class="jumbotron text-center">
        <div class="container">
            <h1>
                <%= title %>
            </h1>
        </div>
    </div>

    <div class="container">

        <div class="col" style="margin: 0 auto">
            <div class="thumbnail">
                <a href="/project/01/products/<%= product.id %>">
                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>" title="<%= product.title %>">
                </a>
                <div class="caption">
                    <h3>
                        <%= product.title %>
                    </h3>
                    <h4>
                        <%= product.price %>
                    </h4>
                    <p>
                        <%= product.description %>
                    </p>

                    <p>
                        <% product.tags.forEach(tag=> { %>
                            <a href="/project/01/products?tag=<%= tag %>" class="btn btn-default btn-sm" role="button"
                                style="border-radius: 2em;">
                                <%= tag %>
                            </a>
                            <% }); %>
                    </p>
                </div>
            </div>
        </div>
        
    </div>

</body>

</html>