<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
</head>

<body>
    <% include ./partials/nav.ejs %>

        <div class="container">
            <h2 class="orange-text">
                <%= title %>
            </h2>
            <div class="divider"></div>

            <!-- <pre><%= JSON.stringify(products, null, 2) %></pre> -->


            <% if (products.length===0) { %>
                <h1 class="text-center">Your Cart Is Empty</h1>
                <hr>
                <% } else { %>

                    <ul class="list-group">
                        <% products.forEach(p=> {
                            if (p.productId) { %>
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="/project/01/products/<%= p.productId._id %>">
                                            <img width="100" src="<%= p.productId.imageUrl %>" alt="<%= p.title %>"
                                                title="<%= p.productId.title %>">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h3 class="media-heading">
                                            <%= p.productId.title %>
                                        </h3>
                                        Quantity: <%= p.quantity %>

                                            <form action="/project/01/cart/delete-item" method="POST">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <input type="hidden" value="<%= p.productId.id %>" name="productId">
                                                <button class="btn btn-link" type="submit">Remove</button>
                                            </form>
                                    </div>

                                    <div class="media-right">
                                        <h4 class="xmedia-heading">
                                            $<%= p.productId.price %>
                                        </h4>
                                    </div>
                                </div>
                            </li>
                            <% } }) %>
                    </ul>


                    <hr>


                    <form action="/project/01/orders/create" method="POST" class="pull-right">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn btn-primary" type="submit">Place Order</button>
                    </form>

                    <% } %>
        </div>

        <% include ./partials/footer.ejs %>
            <script>
            </script>
</body>

</html>