<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
</head>

<body>
    <% include ./partials/nav.ejs %>

        <div class="container">
            <h2 class="orange-text">
                <%= title %>
            </h2>
            <div class="divider"></div>

            <% if (products.length===0) { %>
                <h4 class="text-center grey-text">Your Cart Is Empty</h4>
                <% } else { %>

                    <ul class="list-group">
                        <% products.forEach(p=> {
                            if (p.productId) { %>
                            <div class="card horizontal">
                                <div class="card-image">
                                    <a href="/project/01/product/<%= p.productId._id %>">
                                        <img src="<%= p.productId.imageUrl %>" height="190">
                                    </a>
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <p class="card-title"
                                            style="display: flex; flex-flow: row wrap; justify-content: space-between;">
                                            <span>
                                                <%= p.productId.title %>
                                            </span>
                                            <span>
                                                $<%= p.productId.price %>
                                            </span>
                                        </p>
                                        <p>Quantity: <%= p.quantity %>
                                        </p>
                                    </div>
                                    <div class="card-action">
                                        <form action="/project/01/cart/delete-item" method="POST">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <input type="hidden" value="<%= p.productId.id %>" name="productId">
                                            <button class="btn-flat waves-effect waves-red red-text"
                                                type="submit">Remove</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <% } }) %>
                    </ul>



                    <div class="divider"></div>

                    <h5 style="text-align: right; margin: 1em 0;">
                        Total: <b>$<%= products.reduce((total, p)=> {
                                return total + (p.quantity * p.productId.price)
                                }, 0).toFixed(2) %></b>
                    </h5>

                    <form action="/project/01/orders/create" method="POST" style="float: right;">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn btn-large cyan" type="submit">Place Order</button>
                    </form>

                    <% } %>
        </div>

        <% include ./partials/footer.ejs %>
            <script>
            </script>
</body>

</html>