<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
</head>

<body>
    <% include ./partials/nav.ejs %>

        <div class="container">
            <h2 class="orange-text">
                <%= title %>
            </h2>
            <div class="divider"></div>

            <% if (orders.length===0) { %>
                <h4 class="text-center grey-text">You have no Orders</h4>
                <% } else { %>

                    <% orders.reverse().forEach(order=> { %>
                        <div class="card">
                            <div class="card-content">
                                <span class="grey-text">Order ID: <%= order._id %></span>
                                <span class="card-title">Order on <%= order.date.toDateString() %></span>
                                <br>

                                <table>
                                    <thead>
                                        <tr>
                                            <th>Qty</th>
                                            <th>Item</th>
                                            <th style="text-align:right">Unit Price</th>
                                            <th style="text-align:right">Amount</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <% order.products.forEach(orderProduct=> { %>
                                            <tr>
                                                <td>
                                                    <%= orderProduct.quantity %>
                                                </td>
                                                <td><a href="/project/01/product/<%= orderProduct.productData._id %>">
                                                        <%= orderProduct.productData.title %>
                                                    </a></td>
                                                <td style="text-align:right">$<%= orderProduct.productData.price %>
                                                </td>
                                                <td style="text-align:right">$<%= (orderProduct.productData.price *
                                                        orderProduct.quantity).toFixed(2)%>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>


                            </div>
                            <div class="card-action">
                                <div style="font-size: 1.2em;">
                                    &nbsp;
                                    <span style="float: right;">
                                        Total: <b>$<%= order.products.reduce((total, p)=> {
                                                return total + (p.quantity * p.productData.price)
                                                }, 0).toFixed(2) %></b>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <% }) } %>
        </div>

        <% include ./partials/footer.ejs %>
            <script>
            </script>
</body>

</html>