<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>

        <div class="row valign-wrapper" style="margin: auto 0; justify-content: center;">
            <div class="card col s12 m10 l6 xl4" style="margin: 1em;">

                <form action="/project/01/login" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="card-content" style="padding-bottom: 0;">
                        <h4 class="orange-text" style="margin-top: 0;">
                            <%= title %>
                        </h4>
                        <% include ../partials/flash-errors.ejs %>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" type="text" name="email" value="<%= oldInput.email %>"
                                        class="<%= validationErrors.email ? 'invalid' : '' %>">
                                    <label for="email">Email</label>
                                    <span class="helper-text" data-error="<%= validationErrors.email%>"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" type="password" name="password"
                                        value="<%= oldInput.password %>"
                                        class="<%= validationErrors.password ? 'invalid' : '' %>">
                                    <label for="password">Password</label>
                                    <span class="helper-text" data-error="<%= validationErrors.password%>"></span>
                                </div>
                            </div>
                    </div>
                    <div class="card-action">
                        <button class="btn cyan" type="submit">Login</button>
                        &nbsp;
                        Need an account?
                        &nbsp;
                        <a href="/project/01/signup" class="cyan-text">Sign Up Here</a>
                    </div>

                    <div class="card-action">
                        <a href="/project/01/reset" class="cyan-text">Forgot your Password?</a>
                    </div>

                </form>

            </div>
        </div>

        <% include ../partials/footer.ejs %>
            <script>
            </script>
</body>

</html>